<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GenAI Tool Landing Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <h1>Welcome to GrantWell!</h1>
        <p>Your go-to assistant for gathering requirements from NOFOs and drafting corresponding narrative documents.</p>
    </header>
    <section>
        <h2>Select a NOFO from the dropdown. </h2>
        <form method="POST" action="/process_nofo">
            <select id="nofo-select" name="nofo">
                <option value="" selected disabled>-- Select a NOFO --</option>
                {% for nofo in nofos %}
                    <option value="{{ nofo.name }}">{{ nofo.name }}</option>
                {% endfor %}
            </select>
            <button type="submit">Submit</button>
        </form>
    </section>
</b